.title-red{
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
    
}

img{
justify-content: space-between;
padding-top: 30px;
padding-bottom:  30px;
    

}

video{
    height: 600px;
    width: 600px;
    
}